////////////////////////////
//////     FOOTER     //////
////////////////////////////

footer[role=contentinfo] {
	margin-top: 25px;
	padding-top: 25px;
	small {
		@include boxmodel;
		display: block;
		text-align: left;
		width: 100%;
		a {
			text-decoration: none;
			&:hover {

			}
		}
	}
}

#footer-nav {
	margin: 0;
	text-align: left;
	li {
		@include inline-block;
		+ li {
			margin-left: 20px;
		}
	}
	a {
		text-decoration: none;
		&:hover{
			// color:  ;
		}
	}
}