///////////////////////////////
//////     HOME PAGE     //////
///////////////////////////////


///////////////////////////
//////     PAGES     //////
///////////////////////////


///////////////////////////////
//////     BLOG PAGE     //////
///////////////////////////////

//////////////////////////////
//////     404 PAGE     //////
//////////////////////////////

.error404 {
	.entry-title {
		@include font-size(132);
		text-align: center;
	}
	.entry-content {
		text-align: center;
		p {
			@include font-size(36);
			font-style: italic;
			line-height: 72px;
		}
	}
	.s404 {
		input[type=submit] {
			
		}
	}
}